[user]
	name = Geert linders
	email = geert.linders@salcom.com
[init]
	templatedir = ~/.git_template
[alias]
	push-for-master = push origin HEAD:refs/for/master
	push-for-rfid-demo = push origin HEAD:refs/for/rfid_demo
	push-for-2086-ota = push origin HEAD:refs/for/2086_ota
	st = status
	sti = status --ignore-submodules
	lg = log --oneline --decorate --graph --all
	nfm = "!f(){ git -c core.fileMode=false $@; };f"
[push]
	default = simple
[core]
	autocrlf = input
[safe]
	directory = *
[includeIf "gitdir:~/projects/salcom/"]
	path = ~/projects/salcom/.gitconfig
