[user]
	name = Geert linders
	email = geert.linders@salcom.com
[init]
	templatedir = ~/.git_template
[alias]
	push-for-review = push origin HEAD:refs/for/master
	st = status
	sti = status --ignore-submodules
	lg = log --oneline --decorate --graph --all
	nfm = "!f(){ git -c core.fileMode=false $@; };f"
[push]
	default = simple
[core]
	autocrlf = input
